@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
    scroll-behavior: smooth;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}
.ReactFlagsSelect-module_selectBtn__19wW7{
    border: none !important;
    color: black;
}
.ReactFlagsSelect-module_selectValue__152eS{
    @apply text-[#B8C5CA] text-sm   
}
.ReactFlagsSelect-module_selectBtn__19wW7::after {
    @apply border-none
}
.ReactFlagsSelect-module_label__27pw9{
    @apply  text-neutral-800 text-base
}


